#header
  background-color: white
  padding: 25px 25px

.content
  background-color: white
  margin-top: 25px
  padding: 25px 25px

.body_class
  background-image: url("../../images/background_pattern.jpg")

fieldset
  padding: 0
  label
    display: block
  legend
    margin-left: 1em
    color: #000000
    font-weight: bold
  ol
    padding: 1em 1em 0 1em
    list-style: none !important
  li
    padding-bottom: 1em
  .submit
    border-style: none